<% provide :title, t(".page") %>

<h1><%= t ".page" %></h1>
<p>
  <%= t ".the" %>
  <em><%= link_to t(".home_title"), t(".home_url") %></em>
  <%= t ".isa" %>
  <%= link_to t(".book_title"), t(".book_url") %>
  <%= t ".and" %>
  <%= link_to t(".series_title"), t(".series_url") %>
  <%= t ".dev" %>
  <%= link_to t(".home_title"), t(".home_url") %>
  <%= t ".end" %>
</p>
