<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".sample"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.page"), root_path %></li>
        <li><%= link_to t("static_pages.about.page"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t(".users"), users_path %></li>
          <li class="dropdown">
            <%= link_to raw([t(".acc_title")," <b class=\"caret\"></b>"].join),
            "#",
            class: "dropdown-toggle",
            data: {toggle: "dropdown"}
            %>
            <ul class="dropdown-menu">
              <li><%= link_to t(".prof"), current_user %></li>
              <li><%= link_to t(".sett"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
           <li><%= link_to t("users.new.lin"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<%= link_to image_tag("tumblr_static_thingy.png", alt: "Rails logo"),
 "http://rubyonrails.org/", class: "myimg" %>
